.input-b {
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-b {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px !important;
}

.close-page-b {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.add-new-title-b {
  font-size: 24px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 500;
}
.add-new-title-b span {
  color: var(--green);
}
.input-field-b {
  border: none;
  padding: 10px;
  border-bottom: 2px solid var(--green);
  font-size: 18px;
  width: 60%;
  text-align: center;
  margin: 0px 15px;
  background-color: white;
  color: var(--text-gray);
  letter-spacing: 2px;
}

.submit-form-b {
  padding: 10px 15px;
  color: var(--white);
  background-color: var(--green);
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  margin: 10px 30px;
  border: 2px solid var(--green);
  width: 150px;
}
.submit-form-b:hover {
  padding: 10px 15px;
  color: var(--green);
  background-color: var(--white);
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid var(--green);
  box-shadow: 0px 0px 50px -21px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
