.client-main {
  display: flex;
  flex-direction: column;
  margin: 25px;
}
.cards-main {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.clients-header {
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  padding: 20px;
}
