.invoice-items-main {
  text-align: left;
  margin: 0px 10px;
}
.items-table-header {
  font-size: 11px;
  color: #b2bad5;
}

.items-table {
  font-size: 11px;
}

.table-invoice-items {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 50px -21px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .table-invoice-items {
    width: 100%;
    text-align: left;
  }
  th {
    padding: 20px 0px;
  }
  td {
    border-top: 2px solid var(--mid-gray);
    padding: 10px 0px;
  }

  .items-table-header {
    color: #b2bad5;
    font-weight: 500 !important;
    font-size: 12px;
  }
  .items-table {
    font-size: 15px;
  }
}
