.table-main {
  margin-top: 30px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 0px 50px -21px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  min-height: 350px;
  padding: 20px 0px;
}
.table {
  width: 100%;
  padding: 5px 10px;
}

.table-body {
  font-size: 12px;
  color: var(--dark-gray);
}

.client-invoiceNo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.table thead th {
  text-align: left;
  font-size: 14px;
}

.table-body td {
  padding: 20px 0px;
  border-top: 1px solid var(--mid-gray);
}
.table-body tr:hover {
  background-color: var(--gray);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.td-client {
  font-size: 12px;
  font-weight: 600;
}
.td-invoice-no {
  font-size: 10px;
  color: gray;
}

.status-pending span {
  color: var(--lighter-blue);
  border: 1px solid var(--lighter-blue);
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bolder;
}
.status-sent span {
  color: var(--test1);
  border: 1px solid var(--test1);
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bolder;
}
.status-paid span {
  color: var(--green);
  border: 1px solid var(--green);
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bolder;
}

.sum {
  font-size: 10px;
  color: gray;
}

@media (min-width: 768px) {
  .table-main {
    overflow-y: auto;
    max-height: 200px;
    /* max-height: 10%; */
    padding: 20px 0px;
  }
  .table thead th {
    font-size: 16px;
  }
  .td-client {
    font-size: 14px;
  }
  .td-invoice-no {
    font-size: 12px;
  }
  .sum,
  .status-pending,
  .status-sent,
  .status-paid {
    font-size: 14px;
  }
}
