.date-picker input {
  border: none;
  border-bottom: 2px solid var(--mid-gray);
  color: var(--dark-gray);
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  padding: 5px;
}
.date-picker {
  padding: 0px;
}
