.date-picker input {
  border: none;
  border-bottom: 2px solid var(--blue);
  color: var(--dark-gray);
  text-align: start;
  font-weight: 400;
  font-size: 12px;
}
.date-picker {
  padding: 0px;
}

@media (min-width: 768px) {
  .date-picker input {
    font-size: 16px;
  }
}
