input {
  border: none;
  border-bottom: 2px solid var(--green);
  color: gray;
  text-align: start;
  font-weight: 400;
  font-size: 12px;
}

@media (min-width: 768px) {
  input {
    font-size: 16px;
  }
}
