/* .tax-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
} */

.name-tax {
  font-weight: 500;
  text-align: left;
  color: var(--text-gray);
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  padding: 5px 0px;
}

.total {
  border-top: 1.5px solid #d5dce3;
  color: var(--dark-gray);
  font-weight: 600;
  font-size: 16;
}
