@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Nunito:wght@300&display=swap");
:root {
  --border-radius: 25px;
  --padding: 40px;
  --white: #ffffff;
  --gray: #fafbff;
  --mid-gray: #dfe3e69b;
  --dark-gray: #434b65;
  --blue: #0078ff;
  --lighter-blue: #0092ff;
  --darker-blue: #005eff;
  --green: #00e89d;
  --yellow: #ffd95ef;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono";
}

html,
body {
  padding: 0px;
  margin: 0px;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--gray);
  font-family: "Caveat", cursive;
  font-family: "Nunito", sans-serif;
  
}
