@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Nunito:wght@300&display=swap");
:root {
  --border-radius: 25px;
  --padding: 40px;
  --white: #ffffff;
  --gray: #fafbff;
  --mid-gray: #dfe3e659;
  --text-gray: #b1b5d5;
  --dark-gray: #434b65;
  --blue: #0078ff;
  --lighter-blue: #0092ff;
  --darker-blue: #005eff;
  --green: #00e89d;
  --test: #1fdad6;
  --test1: #9b9d9e9b;

  --yellow: #ffd95e;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono";
}

html,
body {
  padding: 0px;
  margin: 0px;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--gray);
  font-family: "Caveat", cursive;
  font-family: "Nunito", sans-serif;
  color: var(--dark-gray);
}
main {
  position: relative;
}
@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }
  .light {
    background-color: var(--gray);
    transition: all 0.4s ease;
  }
  .dark {
    background-color: #121112;
    transition: all 0.4s ease;
  }
  .home-body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
}
