.invoice-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--white);
}
.invoice-header img {
  cursor: pointer;
}

.invoice-header-number {
  font-weight: 600;
  font-size: 16px;
  margin: 0px;
}

.invoice-header-company {
  font-size: 10px;
  color: var(--text-gray);
  margin: 0px;
  padding: 10px 0px;
}

.invoice-date {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  color: var(--text-gray);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.week-start,
.week-end {
  width: 50%;
  padding: 0px 20px;
  border: 2px solid var(--mid-gray);
}

.calendar-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
}
.plain-text {
  font-size: 10px;
  color: var(--dark-gray);
  font-weight: 700;
}
.invoice-to {
  margin: 10px;
}

@media (min-width: 768px) {
  .invoice-main {
    display: flex;
    flex-direction: row;
  }
  .invoice-to {
    text-align: left;
    margin: 80px 0px;
  }
  .plain-text {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin: 30px 0px;
  }

  .invoice-body {
    width: 100%;
  }
  .invoice-header-number {
    font-size: 24px;
    font-weight: 400;
  }
  .invoice-header-company {
    font-size: 12px;
    color: #b2bad5;
  }

  .invoice-header {
    background-color: transparent;
    display: inline;
  }
  .invoice-header img {
    display: none;
  }
  .date-client {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .invoice-date {
    background-color: transparent;
    box-shadow: none;
    height: 80px;
    flex-direction: column;
  }
  .week-start,
  .week-end {
    padding: 0px 20px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    min-width: 280px;
    font-size: 12px;
    gap: 10px;
    color: var(--dark-gray);
  }
  .week-start input,
  .week-end input {
    background-color: transparent;
  }
}
