.invoice-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--white);
}
.invoice-header img {
  cursor: pointer;
}

.invoice-header-number {
  font-weight: 600;
  font-size: 16px;
  margin: 0px;
}

.invoice-header-company {
  font-size: 10px;
  color: gray;
  margin: 0px;
}

.invoice-date {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  color: gray;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
}

.week-start,
.week-end {
  width: 50%;
  padding: 0px 20px;
  border: 2px solid var(--mid-gray);
}

/* .week-start div,
.week-end div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
} */

.calendar-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
