.sidebar-main {
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100vw;
  transition: all 0.7s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  position: absolute;
  bottom: -60%;
}

.sidebar-main p {
  font-size: smaller;
  color: var(--dark-gray);
  font-weight: bold;
}
.sidebar-main a {
  text-decoration: none;
}

.icon-name-wrap:hover {
  background-color: var(--gray);
  cursor: pointer;
}

.icon-name-wrap-overview {
  color: var(--green) !important;
  box-shadow: 0px 15px 10px -20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 15px 10px -20px var(--green);
}

.icon-name-wrap-overview:hover {
  background-color: var(--gray);
  cursor: pointer;
}

.overview-text {
  color: var(--green) !important;
}

.icon-name-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.close-sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar-main {
    top: 0;
    height: 100vh;
    width: 300px;
    left: 0%;
    margin-right: 20px;
    padding-top: 90px;
    align-items: center;
    transition: all 0.7s ease-in-out;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    padding-top: 100px;
  }
  .close {
    width: 60px;
    transition: all 0.7s ease-in-out;
    overflow: hidden;
  }

  .icon-rotate {
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
    z-index: 1;
    position: absolute;
  }

  .sidebar-main p {
    padding: 20px 30px;
    font-size: smaller;
    color: var(--dark-gray);
    font-weight: bold;
  }

  .icon-name-wrap:hover {
    background-color: var(--gray);
    cursor: pointer;
  }

  .icon-name-wrap-overview {
    color: var(--green) !important;
    box-shadow: 0px 15px 10px -20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 10px 10px;
    position: relative;
    width: 300px;
  }

  .icon-name-wrap-overview:hover {
    background-color: var(--gray);
    cursor: pointer;
  }

  .overview-text {
    color: var(--green) !important;
  }

  .icon-name-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px 10px 10px;
    margin: 0px;
    position: relative;
    width: 300px;
  }
  .close-sidebar {
    display: inline;
  }
  .close-sidebar {
    position: absolute;
    left: 20px;
    top: -70px;
  }

  .sidebar-main-close {
    margin-right: 20px;
    padding-top: 40px;
    padding-left: 5px;
    height: 100vh;
    width: 2vw;
    background-color: var(--white);
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: 2s fadeIn forwards 0.5s;
    transition: 500ms;
  }
  .sidebar-main-close:hover {
    background-color: var(--mid-gray);
  }
}
