.card-container {
  width: 370px;
  height: 320px;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 0px 50px -21px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  padding: 15px;
  cursor: pointer;
  justify-content: flex-start;
  gap: 30px;
  letter-spacing: 2px;
}
.card-container:hover {
  box-shadow: 0px 0px 50px -21px rgba(0, 0, 0, 0.5);
  transition: 0.15s all ease-in-out;
}

.image-container {
  width: 100%;
  background-color: var(--gray);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
  position: relative;
}

.card-name {
  font-size: 28px !important;
  letter-spacing: 5px;
  font-weight: 500;
  color: var(--text-gray);
}
.copy {
  position: absolute;
  left: 93%;
  top: 0;
}

.employee-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 20px;
  font-size: 14px;
  letter-spacing: 2px;
}

.employee-details span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.db-data {
  padding: 0px 10px;
}
