.sidebar-main {
  width: 100vw;
  transition: all 0.7s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  position: absolute;
  bottom: -140px;
}
.dark-sidebar {
  background-color: var(--dark-lighter);
}
.dark-sidebar p {
  color: white !important;
}
.light-sidebar {
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.light-sidebar p {
  color: var(--dark-gray) !important;
}
.light-sidebar div:hover {
  background-color: var(--gray);
}
.dark-sidebar div:hover {
  background-color: var(--darker);
}

.sidebar-main p {
  font-size: smaller;
  /* color: var(--dark-gray); */
  font-weight: bold;
}
.sidebar-main a {
  text-decoration: none;
}

.icon-name-wrap:hover {
  background-color: var(--gray);
  cursor: pointer;
}

.icon-name-wrap-overview {
  color: var(--green) !important;
  /* box-shadow: 0px 15px 10px -20px rgba(0, 0, 0, 0.3); */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 15px 10px -20px var(--green); */
}

.icon-name-wrap-overview:hover {
  background-color: var(--gray);
  cursor: pointer;
}

.overview-text {
  color: var(--green) !important;
}

.icon-name-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.close-sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar-main {
    position: relative;
    min-height: 100vh;
    top: 0;
    width: 300px;
    bottom: 0;
    left: 0%;

    margin-right: 20px;
    padding-top: 90px;
    align-items: center;
    transition: all 0.7s ease-in-out;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    padding-top: 100px;
    z-index: 100;
  }

  .close {
    width: 60px;
    transition: all 0.7s ease-in-out;
    overflow: hidden;
  }

  .icon-rotate {
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
    z-index: 1;
    position: absolute;
  }

  .sidebar-main p {
    padding: 20px 30px;
    font-size: smaller;
    /* color: var(--dark-gray); */
    font-weight: bold;
  }

  .icon-name-wrap:hover {
    background-color: var(--gray);
    cursor: pointer;
  }

  .icon-name-wrap-overview {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 10px 10px;
    position: relative;
    width: 300px;
  }

  .icon-name-wrap-overview:hover {
    background-color: var(--gray);
    cursor: pointer;
  }

  .overview-text {
    color: var(--green) !important;
  }

  .icon-name-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px 10px 10px;
    margin: 0px;
    position: relative;
    width: 300px;
  }
  .close-sidebar {
    display: inline;
  }
  .close-sidebar {
    position: absolute;
    left: 20px;
    top: -70px;
  }

  .sidebar-main-close {
    margin-right: 20px;
    padding-top: 40px;
    padding-left: 5px;
    height: 100vh;
    width: 2vw;
    background-color: var(--white);
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: 2s fadeIn forwards 0.5s;
    transition: 500ms;
  }
  .sidebar-main-close:hover {
    background-color: var(--mid-gray);
  }
  .dark-light-mode {
    height: 100px;
    position: absolute;
    left: 15px;
    top: 750px;
    width: 200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .theme-switch input {
    display: none;
  }

  .slider {
    background-color: var(--gray);
    border: 0.3px solid #d5dce3;
    /* background-color: red; */
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }

  .slider:before {
    background-color: var(--green);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }

  input:checked + .slider {
    background-color: var(--white);
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
